.App {
  font-family: sans-serif;
  text-align: center;
}

.img-card {
  height: 275px;
  background-size: 100%;
  background-position: center;
}

.title-card {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
